<!doctype html>
<html lang="en" th:replace="student/studentbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row">
			<div class="container">
				<div class="form-container">
					<h2 class="text-center mb-4">Change Password</h2>
					<div th:if="${message}">
						<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
					</div>
					<form class="form-group" method="post">
						<div class="row g-3">
							<div class="col-sm-12">
								<label for="oldpassword" class="form-label">Enter Old Password</label>
								<input type="password" class="form-control" id="oldpassword" name="oldpassword" required>
							</div>
							<div class="col-sm-12">
								<label for="newpassword" class="form-label">Enter New Password</label>
								<input type="password" class="form-control" id="newpassword" name="newpassword" required>
							</div>
							<div class="col-sm-12">
								<label for="confirmpassword" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required>
							</div>							
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary w-100">Change Password</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>