<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row p-5">
			<div class="section-title">
				<h2>Study/h2>
				<p>Study <span>NOU <span style="text-transform: lowercase;">e</span>-Gyan Portal </span></p>
			</div>
			<h1 class="text-center">About Us</h1>
			<p> Nalanda Open University welcomes all our students, faculties & study centres to the very new &
				innovative online study portal NOU e-Gyan. The portal is a unique initiative by Hon'ble Vice-Chancellor
				Prof. (Dr.) K C Sinha, which aims at providing online study material to the students of NOU.

				The portal is accessible from any hook and corner of the world if the system allows the permission to
				its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the
				academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring &
				Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as
				well as Nalanda Open University Admins when they are at a distance.</p>
		</div>
	</section>
</body>

</html>