<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
</head>

<body>

	<section id="bread-crumb" class="d-flex flex-column justify-content-end align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5>Courses</h5>
					<p><a href="/home"><i class="fa-solid fa-house"></i> Home</a> /
						<span> Courses</span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="course">
		<div class="container">
			<div class="section-title">
				<h2>Courses</h2>
				<p>Our <span>Courses Detail</span></p>
				<p></p>
			</div>
			<ul id="course-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<li data-filter="*" class="filter-active">All</li>
				<li data-filter=".filter-app">UG Courses</li>
				<li data-filter=".filter-mach">PG Courses</li>
				<li data-filter=".filter-card">Diploma Courses</li>
				<li data-filter=".filter-web">Certification Courses</li>
			</ul>
			<div class="row course-container" data-aos="fade-up" data-aos-delay="200">
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/bba.png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor in Business Administration</p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>3 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/bca.png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor in Computer Application </p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>3 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/bag.png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor of Arts(Geography)</p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>3 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/bcom.png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor of Commerce (B.Com.)</p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>3 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/blis.png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor of Library & Information Science</p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-app">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/bsc(chemistry).png" class="img-fluid">
							<div class="course-info">
								<p>Bachelor of Science(Chemistry)</p>
								<h4>Under Graduation Course</h4>
								<h5><strong>Duration: </strong>3 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>


				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/ma(environmental).png" class="img-fluid">
							<div class="course-info">
								<p>Master of Arts (Environmental Science)</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/ma(sanskrit).png" class="img-fluid">
							<div class="course-info">
								<p>Master of Arts(Sanskrit)</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/mca.png" class="img-fluid">
							<div class="course-info">
								<p>Master in Computer Application</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/mcom.png" class="img-fluid">
							<div class="course-info">
								<p>Master of Commerce</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/msc(physics).png" class="img-fluid">
							<div class="course-info">
								<p>Master of Science(Physics)</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-mach">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/mlis.png" class="img-fluid">
							<div class="course-info">
								<p>Master in Library and Information Science</p>
								<h4>Post Graduation Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>


				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdfm.png" class="img-fluid">
							<div class="course-info">
								<p>PG Diploma in Financial Management</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdhet.png" class="img-fluid">
							<div class="course-info">
								<p>Post Graduation Diploma (Hindi-English Translate)</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdys.png" class="img-fluid">
							<div class="course-info">
								<p>Post Graduation Diploma (Yogic Studies)</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdipr.png" class="img-fluid">
							<div class="course-info">
								<p>Post Graduation Diploma (Information and Public Relations)</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdmm.png" class="img-fluid">
							<div class="course-info">
								<p>Post Graduation Diploma (Marketing Management)</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-card">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/pgdjmc.png" class="img-fluid">
							<div class="course-info">
								<p>Post Graduation Diploma (Journalism & Mass Communication)</p>
								<h4>Diploma Course</h4>
								<h5><strong>Duration: </strong>2 years</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>


				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/cacl.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Abolition of Child Labour</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/caimvs.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Artificial Insemination and Minor Veterinary Services</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/cbep.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Bio-Fertilizer Production</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/cbl.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Bhojpuri Language</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/cbmanc.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Basic Medical Assessment and Nursing Care</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
				<div class="col-lg-4   course-item filter-web">
					<div class="course-img">
						<div class="card border-0 rounded-3">
							<img src="images/courses/ccpg.png" class="img-fluid">
							<div class="course-info">
								<p>Certificate in Child Psychology and Guidance</p>
								<h4>Certification Course</h4>
								<h5><strong>Duration: </strong>1 year</h5>
							</div>
							<span class="brown mt-2 rounded-bottom-3 w-100 text-center"><a href="#" class="explore">Explore</a> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>