<!doctype html>
<html lang="en" th:replace="base::layout(~{::main})">

<head>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
					<p class="marquee-box m-3">The portal is easy to access & highly user <br />friendly for the
						students & study centres.</p>
					<p class="marquee-box m-3">The portal is fully secured and accessible <br />24 x 7 to its
						authorised users.</p>
					<p class="marquee-box m-3">The portal is easy to access & highly user<br /> friendly for the
						students
						& study centres.</p>
				</marquee>
			</div>
		</div>

		<section class="about">
			<div class="container">
				<div class="section-title">
					<h2>Description</h2>
					<p>About <span>NOU <span style="text-transform: lowercase;">e</span>-Gyan Portal </span></p>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row content" data-aos="fade-up">
					<div class="col-sm-1"></div>
					<div class="col-lg-6">
						<p>
							<strong> Nalanda Open University </strong> welcomes all our students, faculties & study
							centres to the very new & innovative online study portal <strong>NOU e-Gyan</strong>.
							The portal is a unique initiative by Hon'ble Vice-Chancellor <strong>Prof. (Dr.) K C
								Sinha</strong>, which aims at providing online study material to the students of
							NOU.
							<br /><br />
							The portal is accessible from any hook and corner of the world if the system allows the
							permission to its users. It is also fully secured and accessible 24 x 7 to its
							authorised users. It will resolve the academic issues such as E-content Distribution,
							Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of
							the system i.e. students, teachers, study centre administrators as well as Nalanda Open
							University Admins when they are at a distance.
						</p>
					</div>
					<div class="col-sm-1"></div>
					<div class=" col-sm-4 mx-3 mx-lg-0" data-aos="zoom-in"
						style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url(images/slider1.jpeg);min-height:55vh;background-repeat:no-repeat;background-size:100% 100%;">
						<div class="video-box d-flex justify-content-centre align-items-stretch position-relative me-4">
							<a href="https://youtu.be/jVl8uLz8f9w" class=" play-btn " data-lity
								data-lity-target="https://youtu.be/jVl8uLz8f9w"></a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="portal">
			<div class="container">
				<div class="row">
					<div class="section-title">
						<h2>Portal</h2>
						<p>Users <span> of the Portal</span></p>
					</div>
					<div class="row mt-5 justify-content-around" style="margin:0px auto;">
						<div class="col-sm-4 mt-5 mt-lg-0 p-4">
							<div class="card_outer">
								<div class="card_box p-3 ">
									<div class="card_content mb-3 ">
										<span class="fa fa-book services_ic mt-4"></span>
										<h2>01</h2>
										<p class="txt">
											The study centres authorised personnel can login to track
											students progress, enroll students, schedule assignments &
											generate reports.
										</p>
										<div class="st-c">
											<a href="/adminlogin">Study
												centre</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 p-4 mt-5 mt-lg-0">
							<div class="card_outer">
								<div class="card_box p-3">
									<div class="card_content">
										<span class="fa fa-users services_ic mt-3"></span>
										<h2>02</h2>
										<p class="txt ">
											The university enrolled students can login to view the
											notification by university, access the e-contents, give
											assignments & track thier progress report.</p>
										<div class="st-c mb-4 mb-lg-0">
											<a href="/studentlogin">NOU
												Students</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="services">
			<div class="container">
				<div class="row">
					<div class="section-title">
						<h2>Features</h2>
						<p>Student <span>Services</span></p>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/registration.jpg" class="img-fluid">
						</div>
						<div class="text">
							<h4>Login</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/dashboard.jpg" class="img-fluid">
						</div>
						<div class="text">
							<h4>Dashboard</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/online-courses.jpg" class="img-fluid">
						</div>
						<div class="text">
							<h4>Self Learning Material (SLM)</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/e-lectures.jpg" class="img-fluid ">
						</div>
						<div class="text">
							<h4>e-Books</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/self-assessment.svg" class="img-fluid p-5">
						</div>
						<div class="text">
							<h4>Self-Assessment Tools</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/performance.jpg" class="img-fluid pb-2">
						</div>
						<div class="text">
							<h4>Performance</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/feedback.jpg" class="img-fluid pb-2">
						</div>
						<div class="text">
							<h4>Feedback</h4>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="image1 mx-5 mx-lg-0">
							<img src="images/course-catlog.jpg" class="img-fluid pb-2">
						</div>
						<div class="text">
							<h4>Courses-Catalogue</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="team" class="team">
			<div class="container">
				<div class="section-title" data-aos="zoom-out">
					<h2>Our Mentors</h2>
					<p>Administrative <span>Setup </span></p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member mx-5 mx-lg-0" data-aos="fade-up">
							<div class="member-img">
								<img src="images/vc.jpg" class="img-fluid mx-5 mt-3" alt>
								<div class="social">
									<h4>Prof. (Dr.) K. C. Sinha </h4>
									<span>VICE CHANCELLOR</span>
								</div>
							</div>
							<div class="member-info">
								<h4>Prof. (Dr.) K. C. Sinha </h4>
								<span>VICE CHANCELLOR</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="100">
							<div class="member-img">
								<img src="images/pvc.jpg" class="img-fluid mx-5 mt-3" alt>
								<div class="social">
									<h4>Prof. (Dr.) Sanjoy Kumar</h4>
									<span>PRO VICE CHANCELLOR</span>
								</div>
							</div>
							<div class="member-info">
								<h4>Prof. (Dr.) Sanjoy Kumar</h4>
								<span>PRO VICE CHANCELLOR</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="200">
							<div class="member-img">
								<img src="images/registrar1.jpeg" class="img-fluid mx-5 mt-3" alt>
								<div class="social">
									<h4>Dr. Md. Habibur Rahman</h4>
									<span>REGISTRAR</span>
								</div>
							</div>
							<div class="member-info">
								<h4> Dr. Md. Habibur Rahman</h4>
								<span>REGISTRAR</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="300">
							<div class="member-img">
								<img src="images/examreg.jpg" class="img-fluid mx-5 mt-3" alt>
								<div class="social">
									<h4>Dr. Neelam Kumari</h4>
									<span>REGISTRAR (Exam)</span>
								</div>
							</div>
							<div class="member-info">
								<h4>Dr. Neelam Kumari</h4>
								<span>REGISTRAR (Exam)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="testimonials" class="testimonials ">
			<div class="container">
				<div class="section-title" data-aos="zoom-out">
					<h2>Courses</h2>
					<p>Our <span>Courses</span></p>
					<br/>
					<div class="courses-btn text-right"><a href="/course">View All Courses</a></div>
				</div>
				<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
					<div class="swiper-wrapper row">
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/bba.png" class="testimonial-img" alt>
								<h3>Bachelor in Business Administration (BBA)</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/bca.png" class="testimonial-img" alt>
								<h3>Bachelor in Computer Application (BCA)</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/mca.png" class="testimonial-img" alt>
								<h3>Master In Computer Application<br /> (M.C.A.)</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/pgdfm.png" class="testimonial-img" alt>
								<h3>PG Diploma in Financial Management (PGDFM)</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/cid.png" class="testimonial-img" alt>
								<h3>Certification in Interior Decoration</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
						<div class="swiper-slide col-sm-4">
							<div class="testimonial-item">
								<img src="images/courses/bcom.png" class="testimonial-img" alt>
								<h3>Bachelor of Commerce (B.Com.)</h3>
								<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>

		<section id="cta" class="cta p-0">
			<div class="container">
				<div class="row py-4" data-aos="zoom-out">
					<div class="section-title pb-1">
						<h2>How to use</h2>
						<p style="color:#fff">NOU <span style="  text-transform: lowercase;color:#fff">e</span>-Gyan
							Portal Tutorial Videos</p>
					</div>
					<p>For any queries regarding the access into the Portal, the users can watch the tutorial videos
						provided or feel free to communicate their issues via the given contact helpline number or
						helpline email ID.</p>
					<div class="col-lg-6 text-center text-lg-start">
						<div class="video-1">
							<iframe width="500" height="280" src="https://www.youtube.com/embed/Sh9VxOBoYbk"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>

							<a href="#" class="cta-btn">How to login at NOU <span
									style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-start">
						<div class="video-1">
							<iframe width="500" height="280" src="https://www.youtube.com/embed/cEaTY8EfdRs"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>

							<a href="#" class="cta-btn">How to access content at NOU <span
									style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="features" class="features">
			<div class="container">
				<div class="row">
					<div class="section-title">
						<h2>Helpdesk</h2>
						<p>Always <span>here to support you!</span></p>
					</div>
					<div class="col-sm-6">
						<img src="images/helpline.svg" class="img-fluid" style="height:50vh;">
					</div>
					<div class="col-sm-6">
						<ul class="nav nav-tabs">
							<li class="nav-item" data-aos="zoom-in">
								<a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
									<p>The help desk provides user assistance to navigate and understand the aspects
										of the portal. This also provides a simple interface for maintenance
										of student information and issues faced.
									</p>
								</a>
							</li>
						</ul>
						<ul class="nav nav-tabs row">
							<li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
								<a class="nav-link" data-bs-toggle="tab" href="#tab-3">
									<h4> <i class="fa fa-phone"></i> +91 7080102007</h4>
								</a>
							</li>
							<li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
								<a class="nav-link" data-bs-toggle="tab" href="#tab-4">
									<h4> <i class="fa fa-envelope "></i><a href="mailto:nouegyanhelp@gmail.com" style="color:black; text-decoration: none; ">nouegyanhelp@gmail.com</a>
										</h4> 
									</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		

		<section class="spacer">
			<div class="container py-4">
				<div class="section-title">
					<h2>Feedback</h2>
					<p>Feedback <span>From Our Students</span></p>
				</div>
				<div class="row">
					<div class="col-sm-12 pt-3 mt-3 supporter-main">
						<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
									class="active" aria-current="true" aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
									aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
									aria-label="Slide 3"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
									aria-label="Slide 4"></button>
							</div>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="supporter container">
										<div class="row">
											<div class="col-sm-1">
											</div>
											<div class="col-sm-2">
												<div style="height:150px; width:150px;">
													<img src="/images/t1.jpg" alt
														style="height:100%; width:100%;">
												</div>
											</div>
											<div class="col-sm-9 supt-txt">
												<p>“This is best and biggest unified platform
													for instant online learning. We can easily
													access any content of our enrolled course from the portal. Thank
													you NOU e-Gyan!!“</p>
												<h6>-Rani Verma-</h6>
												<h6>University Student</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="supporter container">
										<div class="row">
											<div class="col-sm-1">
											</div>
											<div class="col-sm-2">
												<div style="height:150px; width:150px;">
													<img src="/images/t2.jpg" alt
														style="height:100%; width:100%;">
												</div>
											</div>
											<div class="col-sm-9">
												<p> “This is best and biggest unified platform
													for instant online learning. We can easily
													access any content of our enrolled course from the portal. Thank
													you NOU e-Gyan!!“</p>
												<h6>-Saurabh Tripathi-</h6>
												<h6>University Student</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="supporter container">
										<div class="row">
											<div class="col-sm-1">
											</div>
											<div class="col-sm-2">
												<div class="supt-img" style="height:150px; width:150px;">
													<img src="/images/t2.jpg" alt
														style="height:100%; width:100%;">
												</div>
											</div>
											<div class="col-sm-9">
												<p>“This is best and biggest unified platform
													for instant online learning. We can easily
													access any content of our enrolled course from the portal. Thank
													you NOU e-Gyan!!“</p>
												<h6>-Avanish Sharma-</h6>
												<h6>University Student</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="supporter container">
										<div class="row">
											<div class="col-sm-1">
											</div>
											<div class="col-sm-2">
												<div style="height:150px; width:150px;">
													<img src="/images/t1.jpg" alt style="height:100%; width:100%;">
												</div>
											</div>
											<div class="col-sm-9">
												<p>“This is best and biggest unified platform
													for instant online learning. We can easily
													access any content of our enrolled course from the portal. Thank
													you NOU e-Gyan!!“</p>
												<h6>-Krishna Kumari-</h6>
												<h6>University Student</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden" style="color:red;">Next</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		</section>
	</main>
</body>

</html>