<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
</head>

<body>
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>Features</h2>
					<p>Student <span>Services</span></p>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/registration.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Login</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/dashboard.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Dashboard</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/online-courses.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Self Learning Material (SLM)</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/e-lectures.jpg" class="img-fluid ">
					</div>
					<div class="text">
						<h4>e-Books</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/self-assessment.svg" class="img-fluid p-5">
					</div>
					<div class="text">
						<h4>Self-Assessment Tools</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/performance.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Performance</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/feedback.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Feedback</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/course-catlog.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Courses-Catalogue</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>