<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
	<style>
	</style>
</head>

<body>
	<section class="study pb-0">
		<div class="container-fluid">
			<div class="row px-5">
				<div class="section-title px-5">
					<h2>Study</h2>
					<p>Study <span>Centres</span></p>
				</div>
				<div class="col-sm-12 text-justify px-5">
					<p class="st-text">The prestigious Nalanda Open University has over 113 courses provided for
						students all over the country with over 260 study centres facilitating easy access to the
						university as well as students.<br /><br />
						Our courses are inclusive of degree and diploma courses in – not just in the regular subject
						areas – there will be courses in subjects and subject combinations that are exclusive to
						Nalanda Open University. The courses range from under graduation and certificate courses to
						post graduation courses which awarding the student with new skills and earning the
						prestigious degree.<br /><br />
						Our study centres, 262 to be exact with an increasing number of affiliations, are
						established to enable the students to easily enrols with the university. The study centres
						do not disrupt the centralized control of the university but offers the delegated authority
						contributing greatly to the smooth functioning of the university as the the study centres
						will be inclusive of all the courses offered by Nalanda Open University.<br /><br />
						<strong style="color:orange">Listed below are the Study Centres affiliated to the Nalanda
							Open University.</strong>
					</p>
				</div>
			</div>
			<div class=" row">
				<div class="col-sm-1"></div>

				<div class="col-sm-10 my-3">
					<div class="row px-3">
						<div class="col-sm-12 shadow p-3">
							<h4 class="brown w-100 text-start p-3 mb-3">List of Study Centre</h4>
							<table class="table table-bordered border-info mb-4">
								<thead class="gradient-bg study-tbl">
									<tr>
										<th>Sr. No.</th>
										<th>Study Centre</th>
										<th>Centre Code</th>
										<th>City</th>
										<th>State</th>
									</tr>
								</thead>
								<tbody >
									<tr th:each="c:${college}">
										<td th:text="${c.collegeId}"></td>
										<td th:text="${c.studycenter}"></td>
										<td th:text="${c.centercode}"></td>
										<td th:text="${c.city}"></td>
										<td th:text="${c.state}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
</body>

</html>